<%= form_with(model: construction_system, local: true) do |form| %>
  <% if construction_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(construction_system.errors.count, "error") %> prohibited this construction system from being saved:</h2>

      <ul>
        <% construction_system.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :material_ids, 'Ajout des Materiaux' %>
    <%= form.collection_select(:material_ids, Material.all, :id, :name, {}, { multiple: true }) %>
  </div>


  <div class="actions">
    <%= form.submit "Envoyer", class: "btn btn-form" %>
  </div>
<% end %>
