<h1>Materiaux</h1>

<div class="card-container">
  <% @materials.each do |material| %>
<a href="<%=material_path(material)%>" class="card-link">
  <div class="card-product">

        <% if material.image.attached? %>
          <%= image_tag url_for(material.image) %>
        <% else %>
          <%= image_tag "placeholder.svg" %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= material.name %></h2>
          <p><%= material.category %> fournis par: <% material.suppliers.each do |supplier| %>
                                                        <%= supplier.name %> ,
                                                        <%end%>
          </p>
        </div>
        <% if current_user%>
          <div class="card-product-actions">
            <!-- helpers -->
            <%= link_edit(material) %>
            <%= link_destroy(material) %>
          </div>
        <% end %>

  </div>
  </a>





  <% end %>
</div>




<%= link_to "Ajouter un Matériau", new_material_path, class: "btn btn-primary" if policy(Material).create? %>
