<h1>Materiaux</h1>


<div class="card-container">
  <% @materials.each do |material| %>

    <%= link_to material_path(material) do %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <%= material.name %> </h5>
          <p class="card-description"><%= material.description %></p>

            <%= link_to "Modifier", edit_material_path(material), class: "btn btn-outline-warning", role: "button" if policy(material).update? %>
            <%= link_to "Supprimer", material, method: :delete, data: { confirm: "Êtes-vous sûr?" }, class: "btn btn-outline-danger" if policy(material).destroy?%>

        </div>
      </div>
    <% end %>

  <% end %>
</div>




<%= link_to "Ajouter un Matériau", new_material_path, class: "btn btn-primary" if policy(Material).create? %>
