<h1>Materials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Catégorie</th>
      <th>Moyenne des scores</th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td><%= material.description %></td>
        <td><%= material.category %></td>
        <td><%= material.average_rating %></td>
        <td><%= link_to 'Voir', material %></td>
        <td><%= link_to "Editer", edit_material_path(material) if policy(material).update? %></td>
        <td><%= link_to "Supprimer", material, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce matériau ?" } if policy(material).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nouveau Matériau", new_material_path if policy(Material).create? %>
<%= link_to 'Suppliers', suppliers_path %>
