<h1>Materiaux</h1>


<div class="card-container">
  <% @materials.each do |material| %>










    <div class="card-product">
      <a href="<%=material_path(material)%>">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= material.name %></h2>
          <p><%= material.category %> fournis par: <% material.suppliers.each do |supplier| %>
                                                        <%= supplier.name %> ,
                                                        <%end%>
          </p>
          <!-- helpers -->
          <%= link_edit(material) %>
          <%= link_destroy(material) %>
        </div>
      </a>
    </div>





  <% end %>
</div>




<%= link_to "Ajouter un Matériau", new_material_path, class: "btn btn-primary" if policy(Material).create? %>
