<h1>Materiaux</h1>

<div class="card-container">
  <% @materials.each do |material| %>
    <a href="<%=material_path(material)%>" class="card-link">
      <div class="card">
          <% if material.image.attached? %>
            <%= cl_image_tag material.image.key %>
          <% else %>
            <%= image_tag "placeholder.svg" %>
          <% end %>
          <div class="card-infos">
            <h2><%= material.name %></h2>
            <p><%= material.category %> fournis par: <% material.suppliers.each do |supplier| %>
                                                          <%= supplier.name %> ,
                                                          <%end%>
            </p>
            <p>Score : <%= material.average_rating%></p>
          </div>

          <div class="card-actions">
            <% if policy(material).update? %>
            <!-- helpers -->
              <%= link_edit(material) %>
            <% end %>
            <% if policy(material).destroy? %>
              <%= link_destroy(material) %>
            <% end %>
          </div>
      </div>
    </a>
  <% end %>
</div>



<%= link_to "Ajouter un Matériau", new_material_path, class: "btn btn-primary" if policy(Material).create? %>
