<p id="notice"><%= notice %></p>
<div class="text-start">

  <% if @material.image.attached? %>
    <%= image_tag @material.image %>
  <% end %>

  <h2><%= @material.name %></h2>

  <p class="description">
    Description:
    <%= @material.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @material.category %>
  </p>

  <p>
    <strong>Efficiency:</strong>
    <%= @material.efficiency %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= number_to_currency(@material.cost) %>
  </p>
</div>

<h2>Fournisseurs <%= @material.name %>:</h2>

<ul>
  <% @material.suppliers.each do |supplier| %>
    <li><%= link_to supplier.name, supplier %></li>
  <% end %>
</ul>

<%# --------------------- FORMULAIRE DE VOTE-------------------------- %>
<%= form_with(model: [@material, @rating], url: material_ratings_path(@material)) do |form| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
        <% @rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, min: 1, max: 5 %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit 'Vote', class: "btn btn-form" %>
  </div>
<% end %>

<%= link_to "Editer", edit_material_path(@material) if policy(@material).update? %>
<%= link_to 'Back', materials_path %>
