<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @material.category %>
</p>

<p>
  <strong>Efficiency:</strong>
  <%= @material.efficiency %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@material.cost) %>
</p>

<h2>Suppliers offering <%= @material.name %>:</h2>

<ul>
  <% @material.suppliers.each do |supplier| %>
    <li><%= link_to supplier.name, supplier %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
