<%=turbo_frame_tag "content" do %>
  <p id="notice"><%= notice %></p>
  <div class="text-start">

    <% if @material.image.attached? %>
      <%= cl_image_tag @material.image.key %>
    <% end %>

    <h2><%= @material.name %></h2>

    <p class="description">
      Description:
      <%= @material.description %>
    </p>


    <p>
      <strong>Category:</strong>
      <%= @material.category %>
    </p>

  </div>

  <h2>Fournisseurs <%= @material.name %>:</h2>

  <ul>
    <% @material.suppliers.each do |supplier| %>
      <li><%= link_to supplier.name, supplier %></li>
    <% end %>
  </ul>

  <%= link_to "Editer", edit_material_path(@material) if policy(@material).update? %>
  <%= link_to 'Back', :back%>
<%end%>
