<!-- app/views/suppliers/_form.html.erb -->

<%= form_with(model: supplier, local: true) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
        <% supplier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <!-- Champ pour ajouter un matériau à un fournisseur -->
  <div class="field">
    <%= form.label :material_ids, 'Select Materials' %>
    <%= form.collection_select(:material_ids, Material.all, :id, :name, {}, { multiple: true }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
