<!-- app/views/suppliers/index.html.erb -->

<h1>Fournisseurs</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <% @suppliers.each do |supplier| %>
    <div class="col">
      <%= link_to supplier_path(supplier) do %>
        <div class="card mb-3 shadow">
          <div class="card-body">
            <h5 class="card-title"><%= supplier.name %></h5>
            <p class="card-text"><%= supplier.location %></p>
            <div class="btn-group" role="group" aria-label="Actions">
              <%= link_to "Modifier", edit_supplier_path(supplier), class: "btn btn-outline-warning btn-sm" if policy(supplier).update? %>
              <%= link_to "Supprimer", supplier, method: :delete, data: { confirm: "Êtes-vous sûr?" }, class: "btn btn-outline-danger btn-sm" if policy(supplier).destroy?%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Ajouter un Fournisseur", new_supplier_path, class: "btn btn-primary" if policy(Supplier).create? %>

