<!-- app/views/suppliers/show.html.erb -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @supplier.location %>
</p>

<h2>Materials provided by <%= @supplier.name %>:</h2>

<ul>
  <% @supplier.materials.each do |material| %>
    <li><%= link_to material.name, material %></li>
  <% end %>
</ul>

<%= link_to "Editer |", edit_supplier_path(@supplier) if policy(@supplier).update? %>
<%= link_to 'Back', suppliers_path %>
