<!-- app/views/suppliers/show.html.erb -->

<p id="notice"><%= notice %></p>
<div class="text-start">

  <% if @supplier.image.attached? %>
    <%= image_tag @supplier.image %>
  <% end %>

  <p class="font-bold">
    <%= @supplier.name %>
  <%= console %>
  </p>

  <p>
    <strong>Localisation:</strong>
    <%= @supplier.location %>
  </p>

  <h2>Materiau fourni par <%= @supplier.name %>:</h2>

  <ul>
    <% @supplier.materials.each do |material| %>
      <li><%= link_to material.name, material %></li>
    <% end %>
  </ul>

  <h3><%= link_to "Voir le Fournisseur", @supplier.affiliate_link, class: "font-bold text-blue-500", target: "_blank" %></h3>
</div>

<%= link_to "Editer |", edit_supplier_path(@supplier) if policy(@supplier).update? %>
<%= link_to 'Back', suppliers_path %>
