<!DOCTYPE html>
<html>
  <head>
    <title>GedeonMateriaux</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://kit.fontawesome.com/c430cde16d.js" crossorigin="anonymous"></script>
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#efefef",
          "text": "#404040"
        },
        "button": {
          "background": "#8ec760",
          "text": "#ffffff"
        }
      },
      "content": {
        "message": "This website uses cookies to ensure you get the best experience on our website.",
        "dismiss": "Got it!",
        "link": "Learn more",
        "href": "http://cookies.insites.com/about-cookies"
      }
      })});
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5FHQB22XMV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5FHQB22XMV');
    </script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    
    <p class="alert bg-red-500"><%= alert %></p>



        <%= yield %>

      <% if current_user.present? %>
        <div class="text-center my-6 text-base">POUR TOUTE REMONTÉE D'INFORMATION (BUGS, SUGGESTIONS D'AMÉLIORATION, ...)
          ENVOYEZ MOI UN EMAIL À
          <a href="mailto:mathieu@gedeon.guide" class="text-blue-500 ">mathieu@gedeon.guide</a>
        </div>
      <% end %>


  </body>
</html>
